<article class="wrapper2">
  <div class="marquee marquee_press2">
    <div class="marquee__group2">
      
      <div class="card2">
       <img src="https://heyskale.s3.amazonaws.com/the-california-roofer/img/11.png" alt="marq" width="60" height="49">
       </div>
      <div class="card2">
       <img src="https://heyskale.s3.amazonaws.com/the-california-roofer/img/22.png" alt="marq" width="50" height="45">
       </div>
      <div class="card2">
       <img src="https://heyskale.s3.amazonaws.com/the-california-roofer/img/33.png" alt="marq" width="100" height="45">
       </div>
      <div class="card2">
       <img src="https://heyskale.s3.amazonaws.com/the-california-roofer/img/44.png" alt="marq" width="50" height="45">
       </div>
      <div class="card2">
       <img src="https://heyskale.s3.amazonaws.com/the-california-roofer/img/55.png" alt="marq" width="123" height="46">
       </div>

      
    </div>
  </div>
</article>